{% from "vault/map.jinja" import vault with context %}
{
  "backend": {
    "file": {
      "path": "/var/vault/data"
    }
  },
  "listener": {
    "tcp": {
      "address": "0.0.0.0:8200",
      "tls_cert_file": "/etc/pki/minion.crt",
      "tls_key_file": "/etc/pki/minion.key"
    }
  },
  "ui": true
}